<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CC Portal Alunos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
</head>

<body>
    <section class="hero is-fullheight-with-navbar">
        <!-- Hero head: will stick at the top -->
        <div class="hero-head">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-four-fifths">
                        <nav class="navbar is-spaced" role="navigation" aria-label="main navigation">
                            <!-- LOGO -->
                            <div class="navbar-brand">
                                <a class="navbar-item" href="{{ url_for('index') }}">
                                    <span class="has-text-grey-dark">LOGO HERE&trade;</span>
                                </a>
                            </div>
                            <!-- LINKS -->
                            <div id="navbarBasic" class="navbar-menu">
                                <div class="navbar-end">
                                    <!-- SIGN IN BUTTON -->
                                    {% if not session.token %}
                                    <div class="navbar-item">
                                        <a class="button is-primary is-rounded" href="{{ url_for('sign_in') }}">
                                            Sign In
                                        </a>
                                    </div>
                                    {% endif %}
                                    {% if session.token %}
                                    <a href="{{ url_for('home') }}" class="navbar-item">
                                        Home
                                    </a>
                                    <a href="{{ url_for('profile') }}" class="navbar-item">
                                        Dados Pessoais
                                    </a>
                                    <a href="{{ url_for('courses') }}" class="navbar-item">
                                        Cursos
                                    </a>
                                    <div class="navbar-item">
                                        <a class="button is-danger is-rounded" href="{{ url_for('sign_out') }}">
                                            Sign Out
                                        </a>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>>
        </div>

        <!-- Hero content: will be in the middle -->
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <!-- SIDE MENU -->
                    {% if session.token %}
                    <div class="column is-narrow">
                        <aside class="menu">
                            <p class="menu-label">Menu</p>
                            <ul class="menu-list">
                                <li>
                                    <a href="{{ url_for('home') }}"
                                        class="{{ 'is-active' if 'home' in request.path else '' }}"><i
                                            class="fas fa-project-diagram"></i>Home</a>
                                </li>
                                <li>
                                    <a href="{{ url_for('profile') }}"
                                        class="{{ 'is-active' if 'profile' in request.path else '' }}"><i
                                            class="fas fa-project-diagram"></i>Dados Pessoais</a>
                                </li>
                                <li>
                                    <a href="{{ url_for('courses') }}"
                                        class="{{ 'is-active' if 'courses' in request.path else '' }}"><i
                                            class="fas fa-project-diagram"></i>Cursos</a>
                                </li>
                            </ul>
                        </aside>
                    </div>
                    {% endif %}
                    <!-- CONTENT -->
                    <div class="column is-7">
                        <div class="box">
                            {% block content %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Hero footer: will stick at the bottom -->
        <div class="hero-foot">
            <footer style="border-top: 1px solid hsl(0, 0%, 93%); padding-top: 1.7rem;">
                <div class="container">
                    <div class="columns is-vcentered is-centered has-text-centered-mobile">
                        <div class="column is-narrow">
                            <img src="a" alt="logo">
                        </div>
                        <div class="column is-3">
                            <h5 class="title is-5 has-text-grey-light has-text-weight-normal is-italic">
                                This is a footer text
                            </h5>
                        </div>
                        <div class="column is-4 is-narrow">
                            &copy; 2020 Copyright
                            <br>
                            <i>All rights reserved.</i>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </section>
</body>

</html>