{% extends "base.html" %}

{% block content %}
<section class="section">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}
    </div>
    {% endif %}
    {% endwith %}
    <h1 class="title">
        {{ session.username }}
    </h1>
    <p class="subtitle">
    <form method="POST" action="{{ url_for('update') }}">

        <div class="field">
            <label class="label">Relacionamento com a Poli</label>
            <div class="control">
                <div class="select">
                    <select name="relationship">
                        <option selected="{{ 'selected' if session.user_relationship == 'Aluno graduação' else '' }}">
                            Aluno graduação</option>
                        <option
                            selected="{{ 'selected' if session.user_relationship == 'Aluno pós-graduação' else '' }}">
                            Aluno pós-graduação</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="field">
            <label class="label">Ano de ingresso</label>
            <div class="control">
                <input class="input" type="text" placeholder="e.g. 2022" name="entry_year"
                    value="{{ session.user_entry_year if session.user_entry_year else '' }}">
            </div>
        </div>

        <div class="field">
            <label class="label">LinkedIn</label>
            <div class="field has-addons">
                <p class="control">
                    <a class="button is-static">
                        https://www.linkedin.com/in/
                    </a>
                </p>
                <p class="control">
                    <input class="input" type="text" placeholder="name-id" name="linkedin"
                        value="{{ session.user_linkedin if session.user_linkedin else '' }}">
                </p>
            </div>
        </div>

        <div class="field">
            <label class="label">Whatsapp (com DDI)</label>
            <div class="control">
                <input class="input" type="text" placeholder="(+55)(11)91234-5678" name="whatsapp"
                    value="{{ session.user_whatsapp if session.user_whatsapp else '' }}">
            </div>
        </div>

        <div class="field">
            <div class="control">
                <label class="checkbox">
                    <input type="checkbox" name="accept">
                    Eu aceito os <a href="#">termos e condições</a>
                </label>
            </div>
        </div>

        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link">Atualizar</button>
            </div>
        </div>
    </form>
    <div>
        Campos marcados com * são obrigatórios
    </div>
    </p>
</section>
{% endblock %}